/* Main dropdowncontainer with button and content */
.sq-nav-dropdown{
  position:relative;
  display: inline-block;
  cursor:auto;
}
/* Container with the dropdown content */
.sq-nav-dropdown-content{
    display: none;
    text-align:center;
    position: absolute;
    background-color:var(--secondary-highlight);
    box-shadow: 0px 0px 0px 0px;
    min-width:7em;
    z-index: 1;
}
/* Style for li under the dropdown content */
.sq-nav-dropdown-content li{
  color:var(--text-white);
  margin:1em;
  cursor:pointer;
}
/* style for the ul under the dropdown content */
.sq-nav-dropdown-content ul{
  list-style:none;
  padding:0.2em;
}
/* Class used with the JS function to toggle hide/show content */
.sq-show-dropdown-content {
  display:block;
}
/* Onhover effect on the links inside the dropdown content */
.sq-nav-dropdown-content a:hover{background-color: var(--secondary);}
.sq-nav-dropdown:hover .sq-nav-dropdown-content{
    display: block;
}
.sq-nav-dropdown:hover .sq-nav-dropdown-content-right{
display: block;
}

.sq-nav-dropdown-content-right {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	right: 0;
}
.sq-nav-cursor{
  cursor:pointer;
}
