/* navbar */
.sq-nav-btn-group button {
    background-color: var(--secondary-highlight);
    border: none;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
}

/* footer*/.sq-footer{
    position: absolute;
    bottom: 0;
    width: 100%;   
}