.sq-viewport{
  max-height: 99vh;
  max-width: 99vw;
  margin: 0;

}
/* Grids */
/* navbar - main - footer */
.sq-grid-main{
  display:grid;
  grid-template-rows: 15% auto;
  grid-template-columns: 15% auto;
  height:100%;
}
.sq-page{
  display: grid;
  grid-template-rows: 6rem 1fr ;
  grid-template-columns: 1
}
.sq-nav-area{
  grid-area: 1 / 1 / 2 / 2;}

.sq-navbar-layout{
  grid-template-rows: 2rem 2rem 2rem;
  grid-template-columns: 1fr;
}
.sq-grid-navbar{
  display:grid;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  height:100%;
}
.sq-grid-sidebar{
  display:grid;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height:100%;
}
.sq-grid-middle{
  display:grid;
  grid-row:2 / 3;
  grid-column: 2 / 4;
  height:100%;
}
.sq-grid-dropsite{
  display:grid;
  grid-row: 2/3;
  grid-column:3/4;
  height:100%;
}
.sq-navbar-nav{
  grid-area: 1 / 1 / 2 / 2;
  height: 5vh;
}
.sq-navbar-domain{
  grid-area: 2 / 1 / 3 / 2;
  height: 5vh;
}
.sq-navbar-links{
  grid-area: 3 / 1 / 4 / 2;
  height: 5vh;
}
/* navbar - main - footer  end */

/* Footer */
.sq-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* Footer */

.sq-main{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

/* 9x5 grid layout */
.sq-main-layout{
    display: grid;
    grid-template-rows: repeat(5, calc(calc(100vh - calc(5% * 4)) / 5));
    grid-template-columns: repeat(9, 1fr);
    height: 100%;
}
.sq-grid-row-gap{grid-row-gap:1em;}
.sq-grid-col-gap{grid-column-gap:1em;}
.sq-grid-gap{grid-gap:1em;}

/*panels*/
.sq-panel{
    display:flex;
    background-color: var(--background);
    padding: .5em;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sq-panel-main-top{grid-area: 1 / 1 / span 2 / span end; }
.sq-panel-main-bottom{grid-area: 3 / 1 / span end / span end; }
.sq-panel-main{grid-area: 1 / 1 / span end / span end; }
/* Products */
.sq-panel-header-top{grid-area: 1 / 1 / span 1 / span end; }
.sq-panel-header-bottom{grid-area: 2 / 1 / span 1 / span end; }
.sq-panel-main-content{grid-area: 3 / 2 /  span end / span 7; }
/* products end */
/* cards */
.sq-card{
    display: grid;
    grid-template-rows:minmax(1rem, 15%) 1fr minmax(1rem, 20%);
    grid-template-columns: 1fr;
    box-shadow: 0 4px 8px 0 var(--shadow-02);
    transition: 0.3s;
    margin:.5rem;
}

.sq-grid-area-landing-best{
  grid-area: 1 / 2 / span end / span 3;
}
.sq-grid-area-landing-news{
  grid-area: 1 / 6 / span end / span 3;
}
.sq-landing-card{
  width:12rem;
  height:14rem;
  border: 1px solid var(--primary);
  background-color: var(--primary-highlight);
  margin:0.5em;
}
.sq-product-card{
  height:20rem;
  width:20rem;
  background-color: var(--primary-highlight);
  margin:0.5em;
}


.sq-card-header{grid-area: 1 / 1 / span 1 / span end;}
.sq-card-body{grid-area: 2 / 1 / span 1 / span end;}
.sq-card-footer{grid-area: 3 / 1 / span 1 / span end;}
.sq-card-body-footer{grid-area: 2 / 1 / span end / span 1}
.sq-card-body-header{grid-area: 1 / 1 / span 2 / span 1}

/*flex*/
.sq-flex-container-middle{
	display: flex;
	height: 100%;
	width:	100%;
}
.sq-flex{
  display: flex;
}

.sq-flex-auto{
  flex: auto;
}
.sq-flex-wrap{
  flex-wrap:wrap;
}
.sq-flex-1{
  flex: 1;
  }
  .sq-force-right{
    justify-content: flex-end;
    margin-left: auto;
  }
  .sq-force-left{
    justify-content: flex-start;
    margin-right: auto;
  }
.sq-flex-direction-col{flex-direction:column;}
.sq-flex-direction-row{flex-direction: row;}

/* Align items*/
.sq-align-center{align-items: center;}
.sq-align-start{align-items: flex-start;}
.sq-align-end{align-items: flex-end;}
.sq-align-stretch{align-items: stretch;}
.sq-align-baseline{align-items: baseline;}
/* Align items end*/

/* Justify content*/
.sq-justify-center{justify-content: center;}
.sq-justify-start{justify-content: start;}
.sq-justify-end{justify-content: flex-end;}
.sq-justify-between{justify-content: space-between;}
.sq-justify-around{justify-content: space-around;}
.sq-justify-evenly{justify-content: space-evenly;}
/* Justify content end*/
