.sq-viewport{
  height: 100vh;
  width: 100vw;
  margin:0px;
}
/* Grids */
/* navbar - main - footer */
.sq-grid-main{
  display:grid;
  grid-template-rows: 15% auto;
  grid-template-columns: 15% auto;
  height:100%;
}
.sq-page{
  display: grid;
  grid-template-rows: 15% 1fr 5%;
  grid-template-columns: 1
}
.sq-nav-area{
  grid-area: 1 / 1 / 2 / 2;}

.sq-navbar-layout{
  grid-template-rows: 5vh 5vh 5vh;
  grid-template-columns: 1fr;
}
.sq-grid-navbar{
  display:grid;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  height:100%;
}
.sq-grid-sidebar{
  display:grid;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height:100%;
}
.sq-grid-middle{
  display:grid;
  grid-row:2 / 3;
  grid-column: 2 / 4;
  height:100%;
}
.sq-grid-dropsite{
  display:grid;
  grid-row: 2/3;
  grid-column:3/4;
  height:100%;
}
.sq-navbar-nav{
  grid-area: 1 / 1 / 2 / 2;
  height: 5vh;
}
.sq-navbar-domain{
  grid-area: 2 / 1 / 3 / 2;
  height: 5vh;
}
.sq-navbar-links{
  grid-area: 3 / 1 / 4 / 2;
  height: 5vh;
}
/* navbar - main - footer  end */

.sq-main{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

/* 9x5 grid layout */
.sq-main-layout{
    display: grid;
    grid-template-rows: repeat(5, calc(calc(100vh - calc(5% * 4)) / 5));
    grid-template-columns: repeat(9, 1fr);
    background-color: var(--background-secondary);
}
.sq-grid-row-gap{grid-row-gap:1em;}
.sq-grid-col-gap{grid-column-gap:1em;}
.sq-grid-gap{grid-gap:1em;}

/*panels*/
.sq-panel{
    display:flex;
    background-color: var(--background);
    padding: .5em;
    box-shadow: 0 1px 3px var(--shadow-0c), 0 1px 2px var(--shadow-18);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sq-panel-main-top{grid-area: 1 / 1 / span 2 / span end; }
.sq-panel-main-bottom{grid-area: 3 / 1 / span end / span end; }
.sq-panel-main{grid-area: 1 / 1 / span end / span end; }

/* cards */
.sq-card{
    display: grid;
    grid-template-rows:minmax(1rem, 15%) 1fr minmax(1rem, 20%);
    grid-template-columns: 1fr;
    box-shadow: 0 4px 8px 0 var(--shadow-02);
    transition: 0.3s;
    margin:.5rem;
}
.sq-card-header{grid-area: 1 / 1 / span 1 / span end;}
.sq-card-body{grid-area: 2 / 1 / span 1 / span end;}
.sq-card-footer{grid-area: 3 / 1 / span 1 / span end;}
.sq-card-body-footer{grid-area: 2 / 1 / span end / span 1}
.sq-card-body-header{grid-area: 1 / 1 / span 2 / span 1}

/*flex*/
.sq-flex-container-middle{
	display: flex;
	height: 100%;
	width:	100%;
}
.sq-flex-direction-col{flex-direction:column;}
.sq-flex-direction-row{flex-direction: row;}

/* Align items*/
.sq-align-center{align-items: center;}
.sq-align-start{align-items: flex-start;}
.sq-align-end{align-items: flex-end;}
.sq-align-stretch{align-items: stretch;}
.sq-align-baseline{align-items: baseline;}
/* Align items end*/

/* Justify content*/
.sq-justify-center{justify-content: center;}
.sq-justify-start{justify-content: start;}
.sq-justify-end{justify-content: end;}
.sq-justify-between{justify-content: space-between;}
.sq-justify-around{justify-content: space-around;}
.sq-justify-evenly{justify-content: space-evenly;}
/* Justify content end*/
