/* Adds a hidden modal window */
.sq-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
/* Content of the modal window */
.sq-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
/* Adds a close button to the modal window */
.sq-close-button {
    margin-right: 0.5em;
    margin-top: 0.3em;
    float: right;
    cursor: pointer;
    background-color:var(--primary);
    font-size: 1.5em;
}
/* Highlights close button on hover */
.sq-close-button:hover {
    background-color:var(--primary-highlight)
}
/* Shows the modal window */
.sq-show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.sq-btn{
    height:100%;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color:var(--background);
    padding:0;
    margin:0;
}
.sq-btn:active {
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}
 /* Adds layout for the tabs */
.sq-tabs {
  display: flex;
  flex-wrap: wrap;
}
/* Orders the tabs and styles the tab buttons */
.sq-tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: background ease 0.2s;
}
.sq-tabs .sq-tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
}
/* Adds a radio class to the tabs and styles them */
.sq-tabs input[type="radio"] {
  display: none;
}
.sq-tabs input[type="radio"]:checked + label {
    border-bottom:solid .2em var(--primary)
}
.sq-tabs input[type="radio"]:checked + label + .sq-tab {
  display: block;
}
@media (max-width: 45em) {
  .sq-tabs .tab,
  .sq-tabs label {
    order: initial;
  }
  .sq-tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
.reset-box{
    margin: 5em;
    height: 15em;
    width: 32em;
    border: double 1px black;
}
/* modal boxes, show function and general box */
/* close button on hover no longer in use.
 .sq-close-button:hover {
    background-color: var(--danger);
}  */
/* social media modal box.. modal window no longer in use or doesnt work as it should.
.sq-modal-social-media{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-05)transparent;
    opacity: 0;
    visibility: hidden;
    transform: translateY(130%);
    transition-timing-function: ease-in;
    transition: 1s;
  }
  .sq-modal-content-social-media{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20rem;
    width: 20rem;
    transform: translate(5%, -15%);
    background-color: white;
  }
  .sq-show-modal-social{
    opacity: 1;
    visibility: visible;
    transform: bottom scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  .sq-social-media-icons{
    justify-content:center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
  }
  social media modal box end... */
   /* modal for user page. no longer in use. 
  .sq-modal-user-page{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-05);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
    .sq-modal-content-user{
    justify-content:center;
    position: absolute;
    height: 23rem;
    width:20rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }
  .sq-change-user-modal-window{
    margin: 2rem;
    margin-top: 0rem;
}*/