
/*Modal background*/
.sq-modal {
  position: fixed; /*Stay in place*/
  left: 0;
  top: 0;
  width: 100%; /*Full width*/
  height: 100%; /*Full height*/
  background-color: rgba(0, 0, 0, 0.5);/*bg color*/
  opacity: 1; /*How much of the background should be shown*/
  /* visibility: hidden; /*Same as display none*/
  transform: scale(1.1);
  z-index: 1; /* Sit on top */
  visibility: hidden;
  padding-top: 6em; /* push box down */
  overflow: auto; /* if needing to scroll */
}

/* Content of the modal window */
.sq-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: white;
}

/* Adds a close button to the modal window */

/* Shows the modal window */
.sq-show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/*Button Styling*/
.sq-btn{
    height:100%;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color:var(--background);
    padding:0;
    margin:0;
}
.sq-btn:active {
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}

/* .reset-box{
    margin: 5em;
    height: 15em;
    width: 32em;
    border: double 1px black;
} */
/* modal boxes, show function and general box */
/* close button on hover no longer in use.
 .sq-close-button:hover {
    background-color: var(--danger);
}  */
/* social media modal box.. modal window no longer in use or doesnt work as it should.
.sq-modal-social-media{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-05)transparent;
    opacity: 0;
    visibility: hidden;
    transform: translateY(130%);
    transition-timing-function: ease-in;
    transition: 1s;
  }
  .sq-modal-content-social-media{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20rem;
    width: 20rem;
    transform: translate(5%, -15%);
    background-color: white;
  }
  .sq-show-modal-social{
    opacity: 1;
    visibility: visible;
    transform: bottom scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  .sq-social-media-icons{
    justify-content:center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
  }
  social media modal box end... */
   /* modal for user page. no longer in use.
  .sq-modal-user-page{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-05);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
    .sq-modal-content-user{
    justify-content:center;
    position: absolute;
    height: 23rem;
    width:20rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }
  .sq-change-user-modal-window{
    margin: 2rem;
    margin-top: 0rem;
}*/
