/* classes for animation below text */

/*Sliding-topBot Start*/
/*Display*/
.sq-sliding-topBot {
    text-decoration: none;
    display: inline-block;
    border-bottom: 0px solid transparent;  
    width: 12.5em;
    transition: 0.5s ease;
    height: 1.5em;
}
/*When Hovering over text*/
.sq-sliding-topBot:hover {border-bottom: 3px solid blue;}
/*Sliding-topBot End*/
  
/*Sliding-rightToLeft Start*/
/*Display*/
.sq-sliding-rightToLeft {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right:6em;
}
/*Once leaving text(after)*/  
.sq-sliding-rightToLeft:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
/*When Hovering over*/
.sq-sliding-rightToLeft:hover:after {
    width: 100%;
    background: blue;
}
/*Sliding-rightToLeft end*/
  
/*Sliding-leftToRight Start*/
/*Display*/
.sq-sliding-leftToRight {display: inline-block;}
/*Once leaving Text(after)*/    
.sq-sliding-leftToRight:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
/*When hovering over*/  
.sq-sliding-leftToRight:hover:after {
    width: 100%;
    background: blue;
}
/*Sliding-leftToRight End*/
  
/*Sliding-middleOut Start*/
/*Display*/
.sq-sliding-middleOut {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right:4.4em;
}
/*Once leaving text(after)*/  
.sq-sliding-middleOut:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
/*Hovering Over*/  
.sq-sliding-middleOut:hover:after {
    width: 100%;
    background: blue;
}
/*Sliding-middleOut End*/
  
/*Sliding-inAndOnward Start*/
/*Display*/
.sq-sliding-inAndOnward {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right:4.5em;
}
/*Before hovering over text*/  
.sq-sliding-inAndOnward:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
/*Once leaving text (After)*/ 
.sq-sliding-inAndOnward:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: blue;
    transition: width .5s ease;
}
/*Once hovering over text*/  
.sq-sliding-inAndOnward:hover:before {
    width: 100%;
    background: blue;
    transition: width .5s ease;
}
/*Once leavign text*/  
.sq-sliding-inAndOnward:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
/*Sliding-inAndOnward End*/
  
/*Sliding-stayTilHover Start*/
/*Display*/
.sq-sliding-stayTilHover {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
/*Before hovering over text*/ 
.sq-sliding-stayTilHover:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
/*once leaving text (after)*/  
.sq-sliding-stayTilHover:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: blue;
    transition: width .5s ease;
}
/*Before Hovering over text*/ 
.sq-sliding-stayTilHover:hover:before {
    width: 0%;
    background: blue;
    transition: width .5s ease;
}
/*When Hovering over text*/ 
.sq-sliding-stayTilHover:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}
  /*Sliding-stayTilHover End*/
  