/*Containers*/
.sq-custom-Table-container{
  max-width:20%;
  height:auto;
}
.sq-custom-navbar{
  max-width:100%;
  height:2em;
}
.sq-custom-footer{
  max-width:100%;
  height:2em;
}
/*Containers end*/
.sq-tables{
  border-collapse: collapse;
}
.sq-tables th, .sq-tables td{
  border:solid 1px black;
  padding:0.5em;
}
.sq-custom-table-position{width:100%;}
/*classes*/
.sq-tables tr:nth-child(odd){background-color: var(--divider)}
/*when hovering over table rows*/
.sq-tables tr:hover{
  background-color: var(--secondary-accent);
  color: var(--text-base);
}
.sq-tables th{
    background-color: var(--secondary-accent);
}
/*misc - can add icon through content*/
.sq-table-misc-arrow-up th::after{
    float: right;
    content: '\02191';
}

/*classes end*/



/*change size of each row*/
.sq-table-row-padding-05{
  padding-top:0.5em;
  padding-bottom:0.5em;
}
.sq-table-row-padding-1{
  padding-top: 1em;
  padding-bottom:1em;
}
.sq-table-row-padding-2{
  padding-top:1.5em;
  padding-bottom:1.5em;
}

/*misc*/
/* tbody tr:not(:slast-child){
  border-bottom: solid .1em var(--divider);
} */



/* th[data-sorted-direction='ascending']::after{
  float: right;
  content: '\02193';
  color:var(--secondary);
  padding-right:1em;
} */
