<h1>Admin Main Page</h1>
<span><a href="/admin/user"><button class="sq-padding-4">Users</button></a></span>
<span><a href="/admin/adminproduct"><button class="sq-padding-4 sq-air-r-20">Products</button></a></span>